#content-container {
  background-color: var(--color-background);
}

[navbar-position='left'] #content-container {
  border-block-start: 0.5px solid var(--color-border);
  border-start-start-radius: 10px;
  border-inline-start: 0.5px solid var(--color-border);
}
